.button{
    background: #ff5dd2;
    padding: 14px 20px;
    span{
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
}

.value{
    font-family: Inconsolata, serif;
    color: #ff5311;
}

.icon{
    color: goldenrod;
}